{% liquid
  assign heading_text = heading
  assign heading_tag = tag | default: 'h2'
  assign heading_variant = variant | default: 'u-text-style-h2'
%}
                        {% if heading_text != blank %}
                        {% case heading_tag %}
                        {% when 'h1' %}
                        <h1 class="{{ heading_variant }}">
                          {{ heading_text }}
                        </h1>
                        {% when 'h2' %}
                        <h2 class="{{ heading_variant }}">
                          {{ heading_text }}
                        </h2>
                        {% when 'h3' %}
                        <h3 class="{{ heading_variant }}">
                          {{ heading_text }}
                        </h3>
                        {% when 'h4' %}
                        <h4 class="{{ heading_variant }}">
                          {{ heading_text }}
                        </h4>
                        {% when 'h5' %}
                        <h5 class="{{ heading_variant }}">
                          {{ heading_text }}
                        </h5>
                        {% when 'h6' %}
                        <h6 class="{{ heading_variant }}">
                          {{ heading_text }}
                        </h6>
                        {% else %}
                        <h2 class="{{ heading_variant }}">
                          {{ heading_text }}
                        </h2>
                        {% endcase %}
                        {% endif %}
