<div class="u-display-none">
          
          
        </div>
        <div class="u-display-none">
          
          
          
        </div>
        <div class="hero_main_slider_wrap u-position-relative" {% if section.settings.section_id != blank %}{{ section_id }}{% endif %}>
          <div class="hero_main_slider_offset">
            <div class="hero_main_slider_element swiper">
              <div class="hero_main_slider_list swiper-wrapper">
                {% for block in section.blocks %}
    {% if block.type == "slide" %}
                    <div li-block="Slide" class="hero_main_slide_wrap swiper-slide">
                                    
                  
                                    <div class="u-display-none">
                    
                    
                    
                    
                  </div>
                                    
                  
                                    <div class="u-display-none">
                    
                    
                    
                    
                    
                    
                    
                  </div>
                                    
                  
                                    <div class="u-display-none">
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                  </div>
                                    
                  
                                    <div class="u-display-none">
                    
                    
                  </div>
                                    
                  
                                    <div class="hero_main_slide_background u-cover-absolute">
                    <div li-snippet:image="" class="u-display-contents" image="">
                      
                      <div data-wf--preview-image--variant="cover" class="u-image-wrapper w-variant-4972adff-107c-1f37-d19c-526a2bf55c28"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="u-image"></div>
                    </div>
                    <div class="hero_main_slide_overlay u-cover-absolute"></div>
                  </div>
                                    
                  
                                    <div class="hero_main_slide_contain u-container">
                    {% render 'spacer', variant: section.settings.spacing_top %}
                    <div class="hero_main_slide_content u-margin-trim">
                      {% render 'eyebrow', variant: block.settings.eyebrow_variant, eyebrow: block.settings.eyebrow %}
                      {% render 'heading', tag: block.settings.heading_tag, visually_hidden: block.settings.heading_visually_hidden, tidy_text: block.settings.heading_tidy_text, heading: block.settings.heading, custom_class: 'heading-meine-test', variant: block.settings.heading_variant, max_width: block.settings.heading_max_width %}
                      {% render 'button_group', button_1_url: block.settings.button_1_url, button_2_url: block.settings.button_2_url, button_2_action: block.settings.button_2_action, button_1_action: block.settings.button_1_action, button_1_label: block.settings.button_1_label, button_2_label: block.settings.button_2_label, button_1_trigger: 'hover focus', button_2_trigger: 'hover focus', button_2_mode: block.settings.button_2_mode, button_1_mode: block.settings.button_1_mode, button_1_variant: block.settings.button_1_variant, button_2_custom_class: , button_1_custom_class: , button_2_variant: block.settings.button_2_variant %}
                    </div>
                    {% render 'spacer', variant: section.settings.spacing_bottom %}
                  </div>
                                    
                  
                                    <div class="w-embed">
                    <style>
/* Bestehende Trim-Logik */ /*
:is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
  > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim))),
:is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
  > .u-display-contents
  > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim))) {
  margin-bottom: 0;
} */
/* li-snippet: erstes echtes Element innen ohne padding-top */
:is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
  > [li-snippet].u-display-contents
  > :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim):first-child {
  padding-top: 0;
}
/* li-snippet: letztes echtes Element innen ohne padding-bottom */
:is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
  > [li-snippet].u-display-contents
  > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim))) {
  padding-bottom: 0;
}
/* li-snippet: wenn das letzte echte Element selbst Richtext enth&auml;lt,
   dann auch dessen letztes Kind trimmen, z. B. p, h2 etc. */
:is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
  > [li-snippet].u-display-contents
  > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim)))
  > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim))) {
  margin-bottom: 0;
}
  .u-hide-webflow {
    display: none;
  }
</style>
                  </div>
                                    
                
                            </div>
            {% endif %}
{% endfor %}
              </div>
            </div>
          </div>
          <div class="hero_main_slider_controls u-container">
            <div class="hero_main_slider_bullet_list">
              <div class="hero_main_slider_bullet_item"></div>
              <div class="hero_main_slider_bullet_item is-active"></div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Hero Main",
    "class": "hero_main_wrap u-section",
    "blocks": [
        {
            "name": "Slide",
            "type": "slide",
            "settings": [
                {
                    "type": "header",
                    "content": "\u00dcbertitel"
                },
                {
                    "type": "text",
                    "id": "eyebrow",
                    "label": "Text",
                    "default": "\u00dcbertitel Text"
                },
                {
                    "type": "select",
                    "id": "eyebrow_variant",
                    "label": "Stil",
                    "options": [
                        {
                            "value": "u-text-style-small",
                            "label": "Small"
                        },
                        {
                            "value": "u-text-style-main",
                            "label": "Main"
                        },
                        {
                            "value": "u-text-style-large",
                            "label": "Large"
                        }
                    ],
                    "default": "u-text-style-main"
                },
                {
                    "type": "select",
                    "id": "eyebrow_tag",
                    "label": "HTML-Tag",
                    "options": [
                        {
                            "value": "h1",
                            "label": "H1"
                        },
                        {
                            "value": "h2",
                            "label": "H2"
                        },
                        {
                            "value": "h3",
                            "label": "H3"
                        },
                        {
                            "value": "h4",
                            "label": "H4"
                        },
                        {
                            "value": "h5",
                            "label": "H5"
                        },
                        {
                            "value": "h6",
                            "label": "H6"
                        },
                        {
                            "value": "p",
                            "label": "P"
                        }
                    ],
                    "default": "p"
                },
                {
                    "type": "header",
                    "content": "\u00dcberschrift"
                },
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "label": "Text",
                    "default": "Lorem ipsum dolor sit amet elit"
                },
                {
                    "type": "select",
                    "id": "heading_variant",
                    "label": "Stil",
                    "options": [
                        {
                            "value": "u-text-style-h1",
                            "label": "H1"
                        },
                        {
                            "value": "u-text-style-h2",
                            "label": "H2"
                        },
                        {
                            "value": "u-text-style-h3",
                            "label": "H3"
                        },
                        {
                            "value": "u-text-style-h4",
                            "label": "H4"
                        },
                        {
                            "value": "u-text-style-h5",
                            "label": "H5"
                        },
                        {
                            "value": "u-text-style-h6",
                            "label": "H6"
                        }
                    ],
                    "default": "u-text-style-h2"
                },
                {
                    "type": "select",
                    "id": "heading_tag",
                    "label": "HTML-Tag",
                    "options": [
                        {
                            "value": "h1",
                            "label": "H1"
                        },
                        {
                            "value": "h2",
                            "label": "H2"
                        },
                        {
                            "value": "h3",
                            "label": "H3"
                        },
                        {
                            "value": "h4",
                            "label": "H4"
                        },
                        {
                            "value": "h5",
                            "label": "H5"
                        },
                        {
                            "value": "h6",
                            "label": "H6"
                        },
                        {
                            "value": "p",
                            "label": "P"
                        }
                    ],
                    "default": "h2"
                },
                {
                    "type": "number",
                    "id": "heading_max_width",
                    "label": "Maximale Breite",
                    "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
                    "default": 20
                },
                {
                    "type": "checkbox",
                    "id": "heading_tidy_text",
                    "label": "Ausgewogener Zeilenumbruch",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "heading_visually_hidden",
                    "label": "Nur f\u00fcr Screenreader anzeigen",
                    "default": false
                },
                {
                    "type": "header",
                    "content": "Button 1"
                },
                {
                    "type": "text",
                    "id": "button_1_label",
                    "label": "Text",
                    "default": "Button 1 Text"
                },
                {
                    "type": "select",
                    "id": "button_1_variant",
                    "label": "Stil",
                    "options": [
                        {
                            "value": "primary",
                            "label": "Prim\u00e4r"
                        },
                        {
                            "value": "secondary",
                            "label": "Sekund\u00e4r"
                        },
                        {
                            "value": "link",
                            "label": "Textlink"
                        }
                    ],
                    "default": "primary"
                },
                {
                    "type": "select",
                    "id": "button_1_mode",
                    "label": "Funktion",
                    "options": [
                        {
                            "value": "link",
                            "label": "Link \u00f6ffnen"
                        },
                        {
                            "value": "action",
                            "label": "Aktion ausf\u00fchren"
                        }
                    ],
                    "default": "link"
                },
                {
                    "type": "url",
                    "id": "button_1_url",
                    "label": "Link",
                    "visible_if": "{{ block.settings.button_1_mode == 'link' }}"
                },
                {
                    "type": "select",
                    "id": "button_1_action",
                    "label": "Aktion",
                    "options": [
                        {
                            "value": "newsletter_modal",
                            "label": "Newsletter-Modal \u00f6ffnen"
                        },
                        {
                            "value": "contact_modal",
                            "label": "Kontaktformular-Modal \u00f6ffnen"
                        }
                    ],
                    "default": "newsletter_modal",
                    "visible_if": "{{ block.settings.button_1_mode == 'action' }}"
                },
                {
                    "type": "header",
                    "content": "Button 2"
                },
                {
                    "type": "text",
                    "id": "button_2_label",
                    "label": "Text",
                    "default": "Button 2 Text"
                },
                {
                    "type": "select",
                    "id": "button_2_variant",
                    "label": "Stil",
                    "options": [
                        {
                            "value": "primary",
                            "label": "Prim\u00e4r"
                        },
                        {
                            "value": "secondary",
                            "label": "Sekund\u00e4r"
                        },
                        {
                            "value": "link",
                            "label": "Textlink"
                        }
                    ],
                    "default": "primary"
                },
                {
                    "type": "select",
                    "id": "button_2_mode",
                    "label": "Funktion",
                    "options": [
                        {
                            "value": "link",
                            "label": "Link \u00f6ffnen"
                        },
                        {
                            "value": "action",
                            "label": "Aktion ausf\u00fchren"
                        }
                    ],
                    "default": "link"
                },
                {
                    "type": "url",
                    "id": "button_2_url",
                    "label": "Link",
                    "visible_if": "{{ block.settings.button_2_mode == 'link' }}"
                },
                {
                    "type": "select",
                    "id": "button_2_action",
                    "label": "Aktion",
                    "options": [
                        {
                            "value": "newsletter_modal",
                            "label": "Newsletter-Modal \u00f6ffnen"
                        },
                        {
                            "value": "contact_modal",
                            "label": "Kontaktformular-Modal \u00f6ffnen"
                        }
                    ],
                    "default": "newsletter_modal",
                    "visible_if": "{{ block.settings.button_2_mode == 'action' }}"
                },
                {
                    "type": "header",
                    "content": "Bild"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Hintergrundbild"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Sektion"
        },
        {
            "type": "text",
            "id": "section_id",
            "label": "ID"
        },
        {
            "type": "header",
            "content": "Abst\u00e4nde"
        },
        {
            "type": "select",
            "id": "spacing_top",
            "label": "Oben",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "main",
                    "label": "Standard"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                },
                {
                    "value": "page_top",
                    "label": "Seitenanfang"
                }
            ],
            "default": "main"
        },
        {
            "type": "select",
            "id": "spacing_bottom",
            "label": "Unten",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "main",
                    "label": "Standard"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                },
                {
                    "value": "page_top",
                    "label": "Seitenanfang"
                }
            ],
            "default": "main"
        }
    ],
    "presets": [
        {
            "name": "Hero Main",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "slide"
                }
            ]
        }
    ]
} {% endschema %}