<div class="u-embed-css w-embed">
          <style>
.newsletter_bot_paragraph a {
  font-weight: var(--_typography---font--primary-semibold);
}
</style>
        </div>
        <div class="u-display-none">
          
          
        </div>
        <div class="u-display-none">
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
          
          
          
        </div>
        <div class="newsletter_background">
          {% render 'image', width_mobile: section.settings.image_width_mobile, image: section.settings.image, loading: section.settings.image_loading, fetchpriority: section.settings.image_fetchpriority, image_mobile: section.settings.image_mobile, custom_class: , width: section.settings.image_width, breakpoint: , object_fit: section.settings.image_object_fit %}
        </div>
        <div class="newsletter_contain u-container" {% if section.settings.section_id != blank %}id='{{ section.settings.section_id }}'{% endif %}>
          <div class="newsletter_layout">
            <div class="newsletter_form_block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="newsletter_form" data-wf-page-id="6a25c9e5780546a1d70f2758" data-wf-element-id="df392e1f-adb4-56c5-1565-3028b85261b3">
                <div class="newsletter_top">
                  {% render 'eyebrow', custom_class: 'u-margin-bottom-0', eyebrow: section.settings.eyebrow, variant: 'u-text-eyebrow-base' %}
                  {% render 'heading', custom_class: 'u-margin-bottom-0', heading: section.settings.heading, tag: section.settings.heading_tag, variant: 'u-text-h2-primary', max_width: section.settings.heading_max_width, tidy_text: section.settings.heading_tidy_text %}
                </div>
                <div class="newsletter_bot">
                  <div class="newsletter_bot_inner"><label class="newsletter_label_wrap"><span for="newsletter-email" class="newsletter_label u-sr-only"></span><input id="newsletter-email" name="email" type="email" autocomplete="email" placeholder="" class="newsletter_input"></label>
                    {% render 'button', icon_position: section.settings.button_1_icon_position, action: section.settings.button_1_action, padding: section.settings.button_1_padding, text_size: section.settings.button_1_text_size, icon: section.settings.button_1_icon, label: section.settings.button_1_label, ur: section.settings.button_1_url, icon_color: section.settings.button_1_icon_color, trigger: 'hover focus', icon_animation: section.settings.button_1_icon_animation, custom_attribute_value: , custom_attribute_name: , mode: section.settings.button_1_mode, color: section.settings.button_1_color, custom_class: , pill_tag_inner: section.settings.button_1_pill_tag_inner, variant: section.settings.button_1_variant, underline: section.settings.button_1_underline %}
                  </div>
                  <div class="newsletter_bot_paragraph">
                    {% render 'paragraph', tidy_text: section.settings.paragraph_tidy_text, custom_class: 'u-margin-bottom-0', paragraph: section.settings.paragraph, variant: 'u-text-body-small', max_width: section.settings.paragraph_max_width %}
                  </div>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Newsletter",
    "class": "newsletter_wrap u-section",
    "settings": [
        {
            "type": "header",
            "content": "Sektion"
        },
        {
            "type": "text",
            "id": "section_id",
            "label": "ID"
        },
        {
            "type": "header",
            "content": "\u00dcbertitel"
        },
        {
            "type": "text",
            "id": "eyebrow",
            "label": "Text",
            "default": "\u00dcbertitel Text"
        },
        {
            "type": "select",
            "id": "eyebrow_tag",
            "label": "HTML-Tag",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                },
                {
                    "value": "p",
                    "label": "P"
                }
            ],
            "default": "p"
        },
        {
            "type": "header",
            "content": "\u00dcberschrift"
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet elit"
        },
        {
            "type": "select",
            "id": "heading_tag",
            "label": "HTML-Tag",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                },
                {
                    "value": "p",
                    "label": "P"
                }
            ],
            "default": "h2"
        },
        {
            "type": "number",
            "id": "heading_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": 20
        },
        {
            "type": "checkbox",
            "id": "heading_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "richtext",
            "id": "paragraph",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<\/p>"
        },
        {
            "type": "number",
            "id": "paragraph_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": 60
        },
        {
            "type": "checkbox",
            "id": "paragraph_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        },
        {
            "type": "header",
            "content": "Button 1"
        },
        {
            "type": "text",
            "id": "button_1_label",
            "label": "Text",
            "default": "Text"
        },
        {
            "type": "select",
            "id": "button_1_mode",
            "label": "Funktion",
            "options": [
                {
                    "value": "link",
                    "label": "Link \u00f6ffnen"
                },
                {
                    "value": "action",
                    "label": "Aktion ausf\u00fchren"
                }
            ],
            "default": "link"
        },
        {
            "type": "url",
            "id": "button_1_url",
            "label": "Link",
            "visible_if": "{{ section.settings.button_1_mode == 'link' }}"
        },
        {
            "type": "select",
            "id": "button_1_action",
            "label": "Aktion",
            "options": [
                {
                    "value": "newsletter_modal",
                    "label": "Newsletter-Modal \u00f6ffnen"
                },
                {
                    "value": "contact_modal",
                    "label": "Kontaktformular-Modal \u00f6ffnen"
                }
            ],
            "default": "newsletter_modal",
            "visible_if": "{{ section.settings.button_1_mode == 'action' }}"
        },
        {
            "type": "select",
            "id": "button_1_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "solid",
                    "label": "Fl\u00e4che"
                },
                {
                    "value": "transparent",
                    "label": "Transparent"
                },
                {
                    "value": "text",
                    "label": "Textlink"
                },
                {
                    "value": "pill",
                    "label": "Kapsel"
                }
            ],
            "default": "solid"
        },
        {
            "type": "select",
            "id": "button_1_solid_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "red",
                    "label": "Rot"
                },
                {
                    "value": "white",
                    "label": "Wei\u00df"
                }
            ],
            "default": "red",
            "visible_if": "{{ section.settings.button_1_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_1_solid_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-link-large",
                    "label": "Link gro\u00df"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                }
            ],
            "default": "u-text-link-large",
            "visible_if": "{{ section.settings.button_1_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_1_solid_padding",
            "label": "Stil",
            "options": [
                {
                    "value": "base",
                    "label": "Standard"
                },
                {
                    "value": "small",
                    "label": "Klein"
                }
            ],
            "default": "base",
            "visible_if": "{{ section.settings.button_1_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_1_text_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-link-large",
                    "label": "Link gro\u00df"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                }
            ],
            "default": "u-text-link-large",
            "visible_if": "{{ section.settings.button_1_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_1_text_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "green",
                    "label": "Gr\u00fcn"
                },
                {
                    "value": "red",
                    "label": "Rot"
                }
            ],
            "default": "green",
            "visible_if": "{{ section.settings.button_1_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_1_pill_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "white",
                    "label": "Wei\u00df"
                },
                {
                    "value": "white_transparent",
                    "label": "Wei\u00df transparent"
                }
            ],
            "default": "white",
            "visible_if": "{{ section.settings.button_1_variant == 'pill' }}"
        },
        {
            "type": "select",
            "id": "button_1_pill_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-eyebrow-large",
                    "label": "\u00dcbertitel gro\u00df"
                },
                {
                    "value": "u-text-eyebrow-base",
                    "label": "\u00dcbertitel Standard"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                },
                {
                    "value": "u-text-link-small",
                    "label": "Link klein"
                }
            ],
            "default": "u-text-eyebrow-base",
            "visible_if": "{{ section.settings.button_1_variant == 'pill' }}"
        },
        {
            "type": "text",
            "id": "button_1_pill_tag_inner",
            "label": "Innerer Tag",
            "visible_if": "{{ section.settings.button_1_variant == 'pill' }}"
        },
        {
            "type": "checkbox",
            "id": "button_1_underline",
            "label": "Unterstreichung anzeigen",
            "default": false,
            "visible_if": "{{ section.settings.button_1_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_2_icon",
            "label": "Icon",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Icon"
                },
                {
                    "value": "arrow_left",
                    "label": "Pfeil links"
                },
                {
                    "value": "arrow_right",
                    "label": "Pfeil rechts"
                },
                {
                    "value": "arrow_up_right",
                    "label": "Pfeil hoch rechts"
                },
                {
                    "value": "chevron_left",
                    "label": "Chevron links"
                },
                {
                    "value": "chevron_right",
                    "label": "Chevron rechts"
                },
                {
                    "value": "download",
                    "label": "Herunterladen"
                },
                {
                    "value": "copy",
                    "label": "Kopieren"
                },
                {
                    "value": "external",
                    "label": "Externe Seite"
                }
            ],
            "default": "none"
        },
        {
            "type": "select",
            "id": "button_1_icon_position",
            "label": "Icon-Position",
            "options": [
                {
                    "value": "before",
                    "label": "Vor dem Text"
                },
                {
                    "value": "after",
                    "label": "Nach dem Text"
                }
            ],
            "default": "after",
            "visible_if": "{{ section.settings.button_1_icon != 'none' }}"
        },
        {
            "type": "select",
            "id": "button_1_icon_animation",
            "label": "Icon-Animation",
            "options": [
                {
                    "value": "none",
                    "label": "Keine Animation"
                },
                {
                    "value": "move_left",
                    "label": "Nach links bewegen"
                },
                {
                    "value": "move_right",
                    "label": "Nach rechts bewegen"
                },
                {
                    "value": "move_up_right",
                    "label": "Nach oben rechts bewegen"
                }
            ],
            "default": "none",
            "visible_if": "{{ section.settings.button_1_icon != 'none' }}"
        },
        {
            "type": "select",
            "id": "button_1_icon_color",
            "label": "Stil",
            "options": [
                {
                    "value": "inherit",
                    "label": "Wie Text"
                },
                {
                    "value": "red",
                    "label": "Rot"
                }
            ],
            "default": "inherit",
            "visible_if": "{{ section.settings.button_1_icon != 'none' }}"
        },
        {
            "type": "header",
            "content": "Button 2"
        },
        {
            "type": "text",
            "id": "button_2_label",
            "label": "Text",
            "default": "Text"
        },
        {
            "type": "select",
            "id": "button_2_mode",
            "label": "Funktion",
            "options": [
                {
                    "value": "link",
                    "label": "Link \u00f6ffnen"
                },
                {
                    "value": "action",
                    "label": "Aktion ausf\u00fchren"
                }
            ],
            "default": "link"
        },
        {
            "type": "url",
            "id": "button_2_url",
            "label": "Link",
            "visible_if": "{{ section.settings.button_2_mode == 'link' }}"
        },
        {
            "type": "select",
            "id": "button_2_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "solid",
                    "label": "Fl\u00e4che"
                },
                {
                    "value": "transparent",
                    "label": "Transparent"
                },
                {
                    "value": "text",
                    "label": "Textlink"
                },
                {
                    "value": "pill",
                    "label": "Kapsel"
                }
            ],
            "default": "solid"
        },
        {
            "type": "select",
            "id": "button_2_action",
            "label": "Aktion",
            "options": [
                {
                    "value": "newsletter_modal",
                    "label": "Newsletter-Modal \u00f6ffnen"
                },
                {
                    "value": "contact_modal",
                    "label": "Kontaktformular-Modal \u00f6ffnen"
                }
            ],
            "default": "newsletter_modal",
            "visible_if": "{{ section.settings.button_2_mode == 'action' }}"
        },
        {
            "type": "select",
            "id": "button_2_solid_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "red",
                    "label": "Rot"
                },
                {
                    "value": "white",
                    "label": "Wei\u00df"
                }
            ],
            "default": "red",
            "visible_if": "{{ section.settings.button_2_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_2_solid_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-link-large",
                    "label": "Link gro\u00df"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                }
            ],
            "default": "u-text-link-large",
            "visible_if": "{{ section.settings.button_2_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_2_solid_padding",
            "label": "Stil",
            "options": [
                {
                    "value": "base",
                    "label": "Standard"
                },
                {
                    "value": "small",
                    "label": "Klein"
                }
            ],
            "default": "base",
            "visible_if": "{{ section.settings.button_2_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_2_text_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-link-large",
                    "label": "Link gro\u00df"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                }
            ],
            "default": "u-text-link-large",
            "visible_if": "{{ section.settings.button_2_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_2_text_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "green",
                    "label": "Gr\u00fcn"
                },
                {
                    "value": "red",
                    "label": "Rot"
                }
            ],
            "default": "green",
            "visible_if": "{{ section.settings.button_2_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_2_pill_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "white",
                    "label": "Wei\u00df"
                },
                {
                    "value": "white_transparent",
                    "label": "Wei\u00df transparent"
                }
            ],
            "default": "white",
            "visible_if": "{{ section.settings.button_2_variant == 'pill' }}"
        },
        {
            "type": "select",
            "id": "button_2_pill_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-eyebrow-large",
                    "label": "\u00dcbertitel gro\u00df"
                },
                {
                    "value": "u-text-eyebrow-base",
                    "label": "\u00dcbertitel Standard"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                },
                {
                    "value": "u-text-link-small",
                    "label": "Link klein"
                }
            ],
            "default": "u-text-eyebrow-base",
            "visible_if": "{{ section.settings.button_2_variant == 'pill' }}"
        },
        {
            "type": "text",
            "id": "button_2_pill_tag_inner",
            "label": "Innerer Tag",
            "visible_if": "{{ section.settings.button_2_variant == 'pill' }}"
        },
        {
            "type": "checkbox",
            "id": "button_2_underline",
            "label": "Unterstreichung anzeigen",
            "default": false,
            "visible_if": "{{ section.settings.button_2_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_2_icon_position",
            "label": "Icon-Position",
            "options": [
                {
                    "value": "before",
                    "label": "Vor dem Text"
                },
                {
                    "value": "after",
                    "label": "Nach dem Text"
                }
            ],
            "default": "after",
            "visible_if": "{{ section.settings.button_2_icon != 'none' }}"
        },
        {
            "type": "select",
            "id": "button_2_icon_animation",
            "label": "Icon-Animation",
            "options": [
                {
                    "value": "none",
                    "label": "Keine Animation"
                },
                {
                    "value": "move_left",
                    "label": "Nach links bewegen"
                },
                {
                    "value": "move_right",
                    "label": "Nach rechts bewegen"
                },
                {
                    "value": "move_up_right",
                    "label": "Nach oben rechts bewegen"
                }
            ],
            "default": "none",
            "visible_if": "{{ section.settings.button_2_icon != 'none' }}"
        },
        {
            "type": "header",
            "content": "Bild"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Bild"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Bild mobil"
        },
        {
            "type": "select",
            "id": "image_object_fit",
            "label": "Bild-Anpassung",
            "options": [
                {
                    "value": "cover",
                    "label": "Cover"
                },
                {
                    "value": "contain",
                    "label": "Contain"
                }
            ],
            "default": "cover"
        },
        {
            "type": "number",
            "id": "image_width",
            "label": "Bildbreite",
            "default": 2000
        },
        {
            "type": "number",
            "id": "image_width_mobile",
            "label": "Bildbreite Mobil",
            "default": 900
        },
        {
            "type": "select",
            "id": "image_loading",
            "label": "Ladeverhalten",
            "options": [
                {
                    "value": "lazy",
                    "label": "Lazy"
                },
                {
                    "value": "eager",
                    "label": "Eager"
                }
            ],
            "default": "lazy"
        },
        {
            "type": "select",
            "id": "image_fetchpriority",
            "label": "Fetch Priority",
            "options": [
                {
                    "value": "auto",
                    "label": "Automatisch"
                },
                {
                    "value": "high",
                    "label": "Hoch"
                },
                {
                    "value": "low",
                    "label": "Niedrig"
                }
            ],
            "default": "auto"
        }
    ],
    "presets": [
        {
            "name": "Newsletter",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}