<div class="u-embed-css w-embed">
          <style>
  .product_ingredients__slider_wrap {
    --_gap---size: calc(calc(var(--_spacing---space--13) * var(--_responsive---large)) + calc(var(--_spacing---space--4) * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall))));
  }
  .product_ingredients_table_item:nth-child(odd) {
    background-color: rgba(188, 188, 188, 0.1);
  }
</style>
        </div>
        <div class="u-display-none">
          
          
        </div>
        <div class="u-display-none">
          
          
          
          {% case section.settings.spacing_top %}{% when 'xxsmall' %}{% assign spacing_top = 'var(--_spacing---section-space--xxsmall)' %}{% when 'xsmall' %}{% assign spacing_top = 'var(--_spacing---section-space--xsmall)' %}{% when 'small' %}{% assign spacing_top = 'var(--_spacing---section-space--small)' %}{% when 'medium' %}{% assign spacing_top = 'var(--_spacing---section-space--medium)' %}{% when 'large' %}{% assign spacing_top = 'var(--_spacing---section-space--large)' %}{% when 'large_medium_off' %}{% assign spacing_top = 'var(--_spacing---section-space--large-medium-off)' %}{% when 'page_top' %}{% assign spacing_top = 'var(--_spacing---section-space--page-top)' %}{% else %}{% assign spacing_top = '0' %}{% endcase %}{% case section.settings.spacing_bottom %}{% when 'xxsmall' %}{% assign spacing_bottom = 'var(--_spacing---section-space--xxsmall)' %}{% when 'xsmall' %}{% assign spacing_bottom = 'var(--_spacing---section-space--xsmall)' %}{% when 'small' %}{% assign spacing_bottom = 'var(--_spacing---section-space--small)' %}{% when 'medium' %}{% assign spacing_bottom = 'var(--_spacing---section-space--medium)' %}{% when 'large' %}{% assign spacing_bottom = 'var(--_spacing---section-space--large)' %}{% when 'page_top' %}{% assign spacing_bottom = 'var(--_spacing---section-space--page-top)' %}{% else %}{% assign spacing_bottom = '0' %}{% endcase %}
          <div class="u-embed-css w-embed">
            <style>
  #shopify-section-{{ section.id }} [data-section-spacing] {
    --section-spacing-top: {{ spacing_top }};
    --section-spacing-bottom: {{ spacing_bottom }};
  }
</style>
          </div>
        </div>
        <div class="u-display-none">
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
        </div>
        <div class="product_ingredients_contain u-container" {% if section.settings.section_id != blank %}{{ section.settings.section_id | handleize }}{% endif %}>
          
          <div data-section-spacing="" class="product_ingredients_layout">
            <div class="product_ingredients_top u-alignment-center">
              {% render 'eyebrow', tag: section.settings.eyebrow_tag, eyebrow: section.settings.eyebrow, variant: section.settings.eyebrow_variant, custom_class: , wrapper_class: %}
              {% render 'heading', tag: section.settings.heading_tag, visually_hidden: section.settings.heading_visually_hidden, tidy_text: section.settings.heading_tidy_text, heading: section.settings.heading, custom_class: , variant: section.settings.heading_variant, max_width: section.settings.heading_max_width %}
              {% render 'paragraph', custom_class: , paragraph: section.settings.paragraph, variant: section.settings.paragraph_variant, max_width: section.settings.paragraph_max_width, tidy_text: section.settings.paragraph_tidy_text %}
            </div>
            <div class="product_ingredients_mid">
              {% render 'heading', custom_class: 'u-margin-bottom-0 u-alignment-center u-color-3', heading: section.settings.heading, tag: 'h3', variant: 'u-text-eyebrow-base' %}
              <div class="product_ingredients_slider_outer">
                <div class="product_ingredients_slider_button u-flex-noshrink"><button data-wf--slider-button--variant="prev" data-trigger="hover focus" class="slider_button_wrap is-prev is-prev">
                    <div class="slider_button_element">
                      <div class="slider_button_icon">
                        {% render 'icon', aria-hidden: true, icon: 'arrow_left' %}
                      </div>
                    </div>
                  </button></div>
                <div class="product_ingredients_slider_wrap slider_wrap">
                  <div style="--lg: 5; --md: 3; --sm: 2.5; --xs: 2.2;" class="product_ingredients_slider_offset slider_offset">
                    <div class="product_ingredients_slider_element swiper">
                      <div class="product_ingredients_slider_list swiper-wrapper">
                        <div class="product_ingredients_slider_slide swiper-slide">
                          <div class="product_ingredients_slide_wrap">
                            <div class="product_ingredients_slide_image">
                              {% render 'image', width_mobile: section.settings.image_width_mobile, image: section.settings.image, loading: section.settings.image_loading, fetchpriority: section.settings.image_fetchpriority, image_mobile: section.settings.image_mobile, custom_class: , width: section.settings.image_width, breakpoint: , object_fit: section.settings.image_object_fit %}
                            </div>
                            <div class="product_ingredients_slide_text u-alignment-center">
                              {% render 'typography', custom_class: 'u-margin-bottom-0', text: section.settings.text, tag: 'h4', variant: 'u-text-h3-secondary' %}
                            </div>
                          </div>
                        </div>
                        <div class="product_ingredients_slider_slide swiper-slide">
                          <div class="product_ingredients_slide_wrap">
                            <div class="product_ingredients_slide_image">
                              {% render 'image', width_mobile: section.settings.image_width_mobile, image: section.settings.image, loading: section.settings.image_loading, fetchpriority: section.settings.image_fetchpriority, image_mobile: section.settings.image_mobile, custom_class: , width: section.settings.image_width, breakpoint: , object_fit: section.settings.image_object_fit %}
                            </div>
                            <div class="product_ingredients_slide_text u-alignment-center">
                              {% render 'typography', variant: 'u-text-h3-secondary', text: section.settings.text, tag: 'h4' %}
                            </div>
                          </div>
                        </div>
                        <div class="product_ingredients_slider_slide swiper-slide">
                          <div class="product_ingredients_slide_wrap">
                            <div class="product_ingredients_slide_image">
                              {% render 'image', width_mobile: section.settings.image_width_mobile, image: section.settings.image, loading: section.settings.image_loading, fetchpriority: section.settings.image_fetchpriority, image_mobile: section.settings.image_mobile, custom_class: , width: section.settings.image_width, breakpoint: , object_fit: section.settings.image_object_fit %}
                            </div>
                            <div class="product_ingredients_slide_text u-alignment-center">
                              {% render 'typography', variant: 'u-text-h3-secondary', text: section.settings.text, tag: 'h4' %}
                            </div>
                          </div>
                        </div>
                        <div class="product_ingredients_slider_slide swiper-slide">
                          <div class="product_ingredients_slide_wrap">
                            <div class="product_ingredients_slide_image">
                              {% render 'image', width_mobile: section.settings.image_width_mobile, image: section.settings.image, loading: section.settings.image_loading, fetchpriority: section.settings.image_fetchpriority, image_mobile: section.settings.image_mobile, custom_class: , width: section.settings.image_width, breakpoint: , object_fit: section.settings.image_object_fit %}
                            </div>
                            <div class="product_ingredients_slide_text u-alignment-center">
                              {% render 'typography', variant: 'u-text-h3-secondary', text: section.settings.text, tag: 'h4' %}
                            </div>
                          </div>
                        </div>
                        <div class="product_ingredients_slider_slide swiper-slide">
                          <div class="product_ingredients_slide_wrap">
                            <div class="product_ingredients_slide_image">
                              {% render 'image', width_mobile: section.settings.image_width_mobile, image: section.settings.image, loading: section.settings.image_loading, fetchpriority: section.settings.image_fetchpriority, image_mobile: section.settings.image_mobile, custom_class: , width: section.settings.image_width, breakpoint: , object_fit: section.settings.image_object_fit %}
                            </div>
                            <div class="product_ingredients_slide_text u-alignment-center">
                              {% render 'typography', variant: 'u-text-h3-secondary', text: section.settings.text, tag: 'h4' %}
                            </div>
                          </div>
                        </div>
                        <div class="product_ingredients_slider_slide swiper-slide">
                          <div class="product_ingredients_slide_wrap">
                            <div class="product_ingredients_slide_image">
                              {% render 'image', width_mobile: section.settings.image_width_mobile, image: section.settings.image, loading: section.settings.image_loading, fetchpriority: section.settings.image_fetchpriority, image_mobile: section.settings.image_mobile, custom_class: , width: section.settings.image_width, breakpoint: , object_fit: section.settings.image_object_fit %}
                            </div>
                            <div class="product_ingredients_slide_text u-alignment-center">
                              {% render 'typography', variant: 'u-text-h3-secondary', text: section.settings.text, tag: 'h4' %}
                            </div>
                          </div>
                        </div>
                        <div class="product_ingredients_slider_slide swiper-slide">
                          <div class="product_ingredients_slide_wrap">
                            <div class="product_ingredients_slide_image">
                              {% render 'image', width_mobile: section.settings.image_width_mobile, image: section.settings.image, loading: section.settings.image_loading, fetchpriority: section.settings.image_fetchpriority, image_mobile: section.settings.image_mobile, custom_class: , width: section.settings.image_width, breakpoint: , object_fit: section.settings.image_object_fit %}
                            </div>
                            <div class="product_ingredients_slide_text u-alignment-center">
                              {% render 'typography', variant: 'u-text-h3-secondary', text: section.settings.text, tag: 'h4' %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product_ingredients_slider_bullet_list">
                    <div class="slider_bullet_list">
                      <div class="slider_bullet_item is-active"></div>
                      <div class="slider_bullet_item"></div>
                    </div>
                  </div>
                </div>
                <div class="product_ingredients_slider_button"><button data-wf--slider-button--variant="next" data-trigger="hover focus" class="slider_button_wrap is-prev is-next">
                    <div class="slider_button_element">
                      <div class="slider_button_icon">
                        {% render 'icon', aria-hidden: true, icon: 'arrow-right' %}
                      </div>
                    </div>
                  </button></div>
              </div>
            </div>
            <div class="product_ingredients_bot">
              <div class="product_ingredients_bot_left">
                <div class="product_ingredients_table_heading">
                  <div data-dropdown="" class="product_ingredients_table_dd"><button type="button" data-dropdown-trigger="" aria-expanded="false" lang="{{ localization.language.iso_code }}" data-trigger="hover focus" class="product_ingredients_table_dd_button">
                      {% render 'typography', custom_class: 'u-margin-bottom-0 u-min-width-auto', text: localization.language.name | capitalize, tag: 'span', variant: 'u-text-h4-primary' %}
                      <div class="product_ingredients_table_dd_icon">
                        {% render 'icon', aria-hidden: true, icon: 'chevron_down' %}
                      </div>
                    </button>
                    <div hidden="" data-dropdown-menu="" class="product_ingredients_table_dd_list_wrap">
                      <ul li-for:inside="language in localization.available_languages" class="product_ingredients_table_dd_list">
        {% for language in localization.available_languages %}                            
                        
                            {% unless localization.language.iso_code == language.iso_code %}    <li li-unless="localization.language.iso_code == language.iso_code" class="product_ingredients_table_dd_item">
    
                          {% render 'typography', custom_class: 'u-margin-bottom-0 u-min-width-auto', text: language.name | capitalize, tag: 'span', variant: 'u-text-link-small' %}
                            </li>
{% endunless %}
                            
                      
                    {% endfor %}    </ul>
                    </div>
                  </div>
                  {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                </div>
                <div class="product_ingredients_table_wrap">
                  <div class="product_ingredients_table_item">
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                  </div>
                  <div class="product_ingredients_table_item">
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                  </div>
                  <div class="product_ingredients_table_item">
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                  </div>
                  <div class="product_ingredients_table_item">
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                  </div>
                  <div class="product_ingredients_table_item">
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                  </div>
                  <div class="product_ingredients_table_item">
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                    {% render 'typography', tag: section.settings.text_tag, visually_hidden: section.setttings.text_visually_hidden, tidy_text: section.settings.text_tidy_text, custom_class: 'u-margin-bottom-0 u-min-width-auto u-color-3', variant: section.settings.text_variant, text: section.settings.text, max_width: section.settings.text_max_width %}
                  </div>
                </div>
              </div>
              <div class="product_ingredients_bot_right">
                <div class="product_ingredients_info_item">
                  <div class="product_ingredients_info_item_icon">
                    {% render 'icon', custom_class: , icon: 'arrow_right', aria-hidden: true %}
                  </div>
                  <div class="product_ingredients_info_item_right">
                    {% render 'heading', tag: section.settings.heading_tag, visually_hidden: section.settings.heading_visually_hidden, tidy_text: section.settings.heading_tidy_text, heading: section.settings.heading, custom_class: , variant: section.settings.heading_variant, max_width: section.settings.heading_max_width %}
                    {% render 'paragraph', variant: 'u-text-body-base', custom_class: 'u-margin-bottom-0', paragraph: section.settings.paragraph %}
                  </div>
                </div>
                <div class="product_ingredients_info_item">
                  <div class="product_ingredients_info_item_icon">
                    {% render 'icon', custom_class: , icon: 'arrow_right', aria-hidden: true %}
                  </div>
                  <div class="product_ingredients_info_item_right">
                    {% render 'heading', tag: section.settings.heading_tag, visually_hidden: section.settings.heading_visually_hidden, tidy_text: section.settings.heading_tidy_text, heading: section.settings.heading, custom_class: , variant: section.settings.heading_variant, max_width: section.settings.heading_max_width %}
                    {% render 'paragraph', variant: 'u-text-body-base', custom_class: 'u-margin-bottom-0', paragraph: section.settings.paragraph %}
                  </div>
                </div>
                <div class="product_ingredients_info_item">
                  <div class="product_ingredients_info_item_icon">
                    {% render 'icon', custom_class: , icon: 'arrow_right', aria-hidden: true %}
                  </div>
                  <div class="product_ingredients_info_item_right">
                    {% render 'heading', tag: section.settings.heading_tag, visually_hidden: section.settings.heading_visually_hidden, tidy_text: section.settings.heading_tidy_text, heading: section.settings.heading, custom_class: , variant: section.settings.heading_variant, max_width: section.settings.heading_max_width %}
                    {% render 'paragraph', variant: 'u-text-body-base', custom_class: 'u-margin-bottom-0', paragraph: section.settings.paragraph %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div> {% schema %} {
    "tag": "section",
    "name": "Product Ingredients",
    "class": "product_ingredients_wrap u-section",
    "settings": [
        {
            "type": "header",
            "content": "Sektion"
        },
        {
            "type": "text",
            "id": "section_id",
            "label": "ID"
        },
        {
            "type": "header",
            "content": "Abst\u00e4nde"
        },
        {
            "type": "select",
            "id": "spacing_top",
            "label": "Oben",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "xxsmall",
                    "label": "Extra extra klein"
                },
                {
                    "value": "xsmall",
                    "label": "Extra klein"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "medium",
                    "label": "Mittel"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                },
                {
                    "value": "large_medium_off",
                    "label": "Gro\u00df | Medium kein Abstand"
                },
                {
                    "value": "page_top",
                    "label": "Seitenanfang"
                }
            ],
            "default": "large"
        },
        {
            "type": "select",
            "id": "spacing_bottom",
            "label": "Unten",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "xxsmall",
                    "label": "Extra extra klein"
                },
                {
                    "value": "xsmall",
                    "label": "Extra klein"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "medium",
                    "label": "Mittel"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                }
            ],
            "default": "large"
        },
        {
            "type": "header",
            "content": "\u00dcbertitel"
        },
        {
            "type": "text",
            "id": "eyebrow",
            "label": "Text",
            "default": "\u00dcbertitel Text"
        },
        {
            "type": "select",
            "id": "eyebrow_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "u-text-eyebrow-small",
                    "label": "Klein"
                },
                {
                    "value": "u-text-eyebrow-base",
                    "label": "Standard"
                },
                {
                    "value": "u-text-eyebrow-large",
                    "label": "Gro\u00df"
                }
            ],
            "default": "u-text-eyebrow-large"
        },
        {
            "type": "select",
            "id": "eyebrow_tag",
            "label": "HTML-Tag",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                },
                {
                    "value": "p",
                    "label": "P"
                }
            ],
            "default": "p"
        },
        {
            "type": "header",
            "content": "\u00dcberschrift"
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet elit"
        },
        {
            "type": "select",
            "id": "heading_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "u-text-h1-primary",
                    "label": "H1 Prim\u00e4r"
                },
                {
                    "value": "u-text-h1-secondary",
                    "label": "H1 Sekund\u00e4r"
                },
                {
                    "value": "u-text-h2-primary",
                    "label": "H2 Prim\u00e4r"
                },
                {
                    "value": "u-text-h2-secondary",
                    "label": "H2 Sekund\u00e4r"
                },
                {
                    "value": "u-text-h3-primary",
                    "label": "H3 Prim\u00e4r"
                },
                {
                    "value": "u-text-h3-secondary",
                    "label": "H3 Sekund\u00e4r"
                },
                {
                    "value": "u-text-h4-primary",
                    "label": "H4 Prim\u00e4r"
                },
                {
                    "value": "u-text-h5-primary",
                    "label": "H5 Prim\u00e4r"
                },
                {
                    "value": "u-text-h6-primary",
                    "label": "H6 Prim\u00e4r"
                }
            ],
            "default": "u-text-h2-primary"
        },
        {
            "type": "select",
            "id": "heading_tag",
            "label": "HTML-Tag",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                },
                {
                    "value": "p",
                    "label": "P"
                }
            ],
            "default": "h2"
        },
        {
            "type": "number",
            "id": "heading_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": 20
        },
        {
            "type": "checkbox",
            "id": "heading_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "heading_visually_hidden",
            "label": "Nur f\u00fcr Screenreader anzeigen",
            "default": false
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "richtext",
            "id": "paragraph",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<\/p>"
        },
        {
            "type": "select",
            "id": "paragraph_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "u-text-body-small",
                    "label": "Klein"
                },
                {
                    "value": "u-text-body-base",
                    "label": "Standard"
                },
                {
                    "value": "u-text-body-large",
                    "label": "Gro\u00df"
                }
            ],
            "default": "u-text-body-base"
        },
        {
            "type": "number",
            "id": "paragraph_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": 60
        },
        {
            "type": "checkbox",
            "id": "paragraph_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "Product Ingredients",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}