<div class="u-embed-css w-embed">
  <style>
    .product_slider_slider_wrap {
      --_gap---size: 0.75rem;
    }
    .product_teaser_card_top::before {
      content: '';
      width: 50%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0%;
      right: auto;
      bottom: 0%;
      background-color: var(--swatch--white-o20);
      transform: translateX(-50%);
    }
    .product_teaser_card_bot .u-button-wrapper {
      margin-top: var(--_spacing---space--7);
    }
  </style>
</div>
<div class="u-display-none"></div>

<div class="u-display-none">
  {% case section.settings.spacing_top -%}
    {%- when 'xxsmall' -%}
      {%- assign spacing_top = 'var(--_spacing---section-space--xxsmall)' -%}
    {%- when 'xsmall' -%}
      {%- assign spacing_top = 'var(--_spacing---section-space--xsmall)' -%}
    {%- when 'small' -%}
      {%- assign spacing_top = 'var(--_spacing---section-space--small)' -%}
    {%- when 'medium' -%}
      {%- assign spacing_top = 'var(--_spacing---section-space--medium)' -%}
    {%- when 'large' -%}
      {%- assign spacing_top = 'var(--_spacing---section-space--large)' -%}
    {%- when 'large_medium_off' -%}
      {%- assign spacing_top = 'var(--_spacing---section-space--large-medium-off)' -%}
    {%- when 'page_top' -%}
      {%- assign spacing_top = 'var(--_spacing---section-space--page-top)' -%}
    {%- else -%}
      {%- assign spacing_top = '0' -%}
  {%- endcase -%}
  {%- case section.settings.spacing_bottom -%}
    {%- when 'xxsmall' -%}
      {%- assign spacing_bottom = 'var(--_spacing---section-space--xxsmall)' -%}
    {%- when 'xsmall' -%}
      {%- assign spacing_bottom = 'var(--_spacing---section-space--xsmall)' -%}
    {%- when 'small' -%}
      {%- assign spacing_bottom = 'var(--_spacing---section-space--small)' -%}
    {%- when 'medium' -%}
      {%- assign spacing_bottom = 'var(--_spacing---section-space--medium)' -%}
    {%- when 'large' -%}
      {%- assign spacing_bottom = 'var(--_spacing---section-space--large)' -%}
    {%- when 'page_top' -%}
      {%- assign spacing_bottom = 'var(--_spacing---section-space--page-top)' -%}
    {%- else -%}
      {%- assign spacing_bottom = '0' -%}
  {%- endcase %}
  <div class="u-embed-css w-embed">
    <style>
      #shopify-section-{{ section.id }} [data-section-spacing] {
        --section-spacing-top: {{ spacing_top }};
        --section-spacing-bottom: {{ spacing_bottom }};
      }
    </style>
  </div>
</div>
<div class="u-display-none"></div>
<div class="u-display-none"></div>

<div
  class="product_slider_contain u-container"
  id="{% if section.settings.section_id != blank %}{{ section.settings.section_id }}{% endif %}"
>
  <div data-section-spacing="" class="product_slider_layout">
    <div class="product_slider_top">
      <div class="product_slider_top_left u-margin-trim">
        {% render 'eyebrow',
          custom_class: 'u-color-3',
          eyebrow: section.settings.eyebrow,
          variant: 'u-text-eyebrow-base'
        %}
        {% render 'heading', tag: section.settings.heading_tag, visually_hidden: section.settings.heading_visually_hidden, tidy_text: section.settings.heading_tidy_text, heading: section.settings.heading, custom_class: , variant: 'u-text-h2-primary', max_width: section.settings.heading_max_width %}
      </div>
      <div class="product_slider_top_right">
        <div class="product_slider_tabs">
          {% for block in section.blocks %}
            {% if block.type == 'tab-panel' %}
              <button li-block="Tab + Panel" class="product_slider_tab">
                <div class="u-display-none"></div>

                {% render 'typography',
                  custom_class: 'u-margin-bottom-0',
                  text: block.settings.tab_text,
                  tag: 'span',
                  variant: 'u-text-link-base'
                %}
              </button>
            {% endif %}
          {% endfor %}
        </div>
        <div class="product_slider_link">
          {% render 'typography',
            custom_class: 'u-margin-bottom-0 u-min-width-auto',
            text: section.settings.link_text,
            tag: 'span',
            variant: 'u-link-base'
          %}
          {% render 'clickable', url: section.settings.clickable_url, label: section.settings.clickable_label %}
        </div>
      </div>
    </div>
    <div class="product_slider_mid">
      {% if section.settings.display_type == 'tabs' %}
        <div li-if="section.settings.display_type == 'tabs'" class="product_slider_panels">
          {% for block in section.blocks %}
            {% assign selected_collection = block.settings.collection %}

            {% assign theme_metaobject = selected_collection.metafields.custom.theme_color.hex %}
            {% assign hex_color = theme_metaobject.theme_color.value %}

            <div li-for="block in section.blocks" class="product_slider_panel">
              <div class="product_slider_slider_wrap">
                <div style="--lg: 4; --md: 2; --sm: 1.1; --xs: 1.1;" class="product_slider_slider_offset slider_offset">
                  <div class="product_slider_slider_element swiper">
                    <div class="product_slider_slider_list swiper-wrapper">
                      <div class="product_slider_slider_slide swiper-slide">
                        {% render 'product_teaser_card',
                          paragraph: block.settings.teaser_card_paragraph,
                          button_url: block.settings.teaser_card_button_url,
                          heading_tag: block.settings.teaser_card_heading_tag,
                          button_label: block.settings.teaser_card_button_label,
                          heading: block.settings.teaser_card_heading,
                          eyebrow_tag: block.settings.teaser_card_eyebrow_tag,
                          eyebrow: block.settings.teaser_card_eyebrow
                        %}
                      </div>
                      <div
                        class="product_slider_slider_slide swiper-slide"
                        style="background-color: {{ theme_metaobject }}"
                      >
                        {% for product in selected_collection.products %}
                          <div li-for="product in collection.products" class="product_slider_product_card">
                            {% render 'product_card',
                              url: product.url,
                              hover_image: product.metafields.custom.product_story.value.top_image.value,
                              title: product.title,
                              tag: product.hero_eyebrow,
                              image: product.images.first,
                              description: product.description
                            %}
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if section.settings.display_type == 'collection' %}
        <div li-if="section.settings.display_type == 'collection'" class="product_slider_collection"></div>
      {% endif %}
    </div>
    <div class="product_slider_bot">
      <div class="slider_controls">
        <div class="slider_bullet_list">
          <div class="slider_bullet_item is-active"></div>
          <div class="slider_bullet_item"></div>
        </div>
        <div class="slider_button_layout">
          <button data-trigger="hover focus" class="slider_button_wrap">
            <div class="slider_button_element">
              <div class="slider_button_icon">
                {% render 'icon', aria-hidden: true, icon: 'arrow_left' %}
              </div>
            </div></button
          ><button data-trigger="hover focus" class="slider_button_wrap">
            <div class="slider_button_element">
              <div class="slider_button_icon">
                {% render 'icon', aria-hidden: true, icon: 'arrow_right' %}
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="u-embed-js w-embed w-script">
  <script>
    (function () {
      const component = document.currentScript.parentElement.parentElement;
      document.addEventListener('DOMContentLoaded', function () {
        // run script here
      });
    })();
  </script>
</div>
{% schema %}
{
  "tag": "section",
  "name": "Product Slider",
  "class": "product_slider_wrap u-section",
  "blocks": [
    {
      "name": "Tab + Panel",
      "type": "tab-panel",
      "settings": [
        {
          "type": "header",
          "content": "Tab"
        },
        {
          "type": "text",
          "id": "tab_text",
          "label": "Text",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "header",
          "content": "Panel"
        },
        {
          "type": "header",
          "content": "Teaser Card"
        },
        {
          "type": "text",
          "id": "teaser_card_eyebrow",
          "label": "\u00dcbertitel Text",
          "default": "\u00dcbertitel Text"
        },
        {
          "type": "select",
          "id": "teaser_card_eyebrow_tag",
          "label": "\u00dcbertitel HTML-Tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "P"
            }
          ],
          "default": "p"
        },
        {
          "type": "inline_richtext",
          "id": "teaser_card_heading",
          "label": "\u00dcberschrift Text",
          "default": "\u00dcberschrift Text"
        },
        {
          "type": "select",
          "id": "teaser_card_heading_tag",
          "label": "\u00dcberschrift HTML-Tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "P"
            }
          ],
          "default": "h3"
        },
        {
          "type": "richtext",
          "id": "teaser_card_paragraph",
          "label": "Paragraph Text",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.<\/p>"
        },
        {
          "type": "text",
          "id": "teaser_card_button_label",
          "label": "Text",
          "default": "Button Text"
        },
        {
          "type": "url",
          "id": "teaser_card_button_url",
          "label": "Button Link"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Kollektion"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Sektion"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "ID"
    },
    {
      "type": "select",
      "id": "display_type",
      "label": "Darstellungsart",
      "options": [
        {
          "value": "collection",
          "label": "Einzelne Kollektion"
        },
        {
          "value": "tabs",
          "label": "Kollektionen als Tabs"
        }
      ],
      "default": "tabs"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Kollektion"
    },
    {
      "type": "header",
      "content": "Abst\u00e4nde"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "Oben",
      "options": [
        {
          "value": "none",
          "label": "Kein Abstand"
        },
        {
          "value": "xxsmall",
          "label": "Extra extra klein"
        },
        {
          "value": "xsmall",
          "label": "Extra klein"
        },
        {
          "value": "small",
          "label": "Klein"
        },
        {
          "value": "medium",
          "label": "Mittel"
        },
        {
          "value": "large",
          "label": "Gro\u00df"
        },
        {
          "value": "large_medium_off",
          "label": "Gro\u00df | Medium kein Abstand"
        },
        {
          "value": "page_top",
          "label": "Seitenanfang"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Unten",
      "options": [
        {
          "value": "none",
          "label": "Kein Abstand"
        },
        {
          "value": "xxsmall",
          "label": "Extra extra klein"
        },
        {
          "value": "xsmall",
          "label": "Extra klein"
        },
        {
          "value": "small",
          "label": "Klein"
        },
        {
          "value": "medium",
          "label": "Mittel"
        },
        {
          "value": "large",
          "label": "Gro\u00df"
        }
      ],
      "default": "xxsmall"
    },
    {
      "type": "header",
      "content": "\u00dcberschrift"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Text",
      "default": "Lorem ipsum dolor sit amet elit"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "HTML-Tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h2"
    },
    {
      "type": "number",
      "id": "heading_max_width",
      "label": "Maximale Breite",
      "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "heading_tidy_text",
      "label": "Ausgewogener Zeilenumbruch",
      "default": true
    },
    {
      "type": "header",
      "content": "\u00dcbertitel"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Text",
      "default": "\u00dcbertitel Text"
    },
    {
      "type": "select",
      "id": "eyebrow_tag",
      "label": "HTML-Tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "p"
    },
    {
      "type": "header",
      "content": "Link",
      "visible_if": "{{ section.settings.display_type == 'collection' }}"
    },
    {
      "type": "text",
      "id": "clickable_label",
      "label": "Beschriftung",
      "default": "Mehr erfahren",
      "visible_if": "{{ section.settings.display_type == 'collection' }}"
    },
    {
      "type": "url",
      "id": "clickable_url",
      "label": "Link",
      "visible_if": "{{ section.settings.display_type == 'collection' }}"
    }
  ],
  "presets": [
    {
      "name": "Product Slider",
      "category": "Liquify",
      "blocks": [
        {
          "type": "tab-panel"
        }
      ]
    }
  ]
}
{% endschema %}
