<div class="u-embed-css w-embed">
          <style>
  .related_products_slider_wrap {
    --_gap---size: 1rem;
  }
  @container (width < 75em) {
    .related_products_bot .slider_offset {
      --slide-count: var(--md);
    }
  }
  @container (width < 60em) {
    .related_products.bot .slider_offset {
      --slide-count: var(--sm);
    }
  }
  @container (width < 40em) {
    .related_products_bot .slider_offset {
      --slide-count: var(--xs);
    }
  }
  #shopify-section-{{ section.id }}.related_products_wrap {
    --collection-theme-color: {{ theme_color }};
  }
</style>
        </div>
        <div class="u-display-none">
          
          
        </div>
        <div class="u-display-none">
          
          
          
          {% case section.settings.spacing_top %}{% when 'xxsmall' %}{% assign spacing_top = 'var(--_spacing---section-space--xxsmall)' %}{% when 'xsmall' %}{% assign spacing_top = 'var(--_spacing---section-space--xsmall)' %}{% when 'small' %}{% assign spacing_top = 'var(--_spacing---section-space--small)' %}{% when 'medium' %}{% assign spacing_top = 'var(--_spacing---section-space--medium)' %}{% when 'large' %}{% assign spacing_top = 'var(--_spacing---section-space--large)' %}{% when 'large_medium_off' %}{% assign spacing_top = 'var(--_spacing---section-space--large-medium-off)' %}{% when 'page_top' %}{% assign spacing_top = 'var(--_spacing---section-space--page-top)' %}{% else %}{% assign spacing_top = '0' %}{% endcase %}{% case section.settings.spacing_bottom %}{% when 'xxsmall' %}{% assign spacing_bottom = 'var(--_spacing---section-space--xxsmall)' %}{% when 'xsmall' %}{% assign spacing_bottom = 'var(--_spacing---section-space--xsmall)' %}{% when 'small' %}{% assign spacing_bottom = 'var(--_spacing---section-space--small)' %}{% when 'medium' %}{% assign spacing_bottom = 'var(--_spacing---section-space--medium)' %}{% when 'large' %}{% assign spacing_bottom = 'var(--_spacing---section-space--large)' %}{% when 'page_top' %}{% assign spacing_bottom = 'var(--_spacing---section-space--page-top)' %}{% else %}{% assign spacing_bottom = '0' %}{% endcase %}
          <div class="u-embed-css w-embed">
            <style>
  #shopify-section-{{ section.id }} [data-section-spacing] {
    --section-spacing-top: {{ spacing_top }};
    --section-spacing-bottom: {{ spacing_bottom }};
  }
</style>
          </div>
        </div>
        <div class="u-display-none">
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
        </div>
        <div class="related_products_contain u-container" {% if section.settings.section_id != blank %}id='{{ section.settings.section_id | handleize }}'{% endif %}>
          
          <div data-section-spacing="" class="related_products_layout">
            <div class="related_products_top u-margin-trim">
              {% render 'eyebrow', wrapper_class: 'is-eyebrow-base', eyebrow: section.settings.eyebrow, variant: 'u-text-eyebrow-base', custom_class: 'u-color-3' %}
              {% render 'heading', tag: section.settings.heading_tag, visually_hidden: section.settings.heading_visually_hidden, tidy_text: section.settings.heading_tidy_text, heading: section.settings.heading, custom_class: 'u-margin-bottom-0', variant: 'u-text-h2-primary', max_width: section.settings.heading_max_width %}
            </div>
            <div class="related_products_bot">
              <div class="related_products_slider_wrap slider_wrap">
                <div style="--lg: 4; --md: 2.5; --sm: 1.9; --xs: 1.1;" class="related_products_slider_offset slider_offset">
                  <div class="related_products_slider_element swiper">
                    <div class="related_products_slider_list swiper-wrapper">
                      <div class="related_products_slider_slide swiper-slide">
                        {% assign product_story = product.metafields.custom.product_story.value %}{% assign top_image = product_story.top_image.value %}
                        {% render 'product_card', product_hover_button_label: section.settings.product_card_button_label, product_url: product.url, product_hover_image: top_image, product_title: product.title, product_tag: product.metafields.custom.hero_eyebrow, product_image: product.images.first, product_description: product.description %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slider_controls">
                  <div class="slider_bullet_list">
                    <div class="slider_bullet_item is-active"></div>
                    <div class="slider_bullet_item"></div>
                  </div>
                  <div class="slider_button_layout"><button data-wf--slider-button--variant="prev" data-trigger="hover focus" class="slider_button_wrap is-prev is-prev">
                      <div class="slider_button_element">
                        <div class="slider_button_icon">
                          {% render 'icon', aria-hidden: true, icon: 'arrow_left' %}
                        </div>
                      </div>
                    </button><button data-wf--slider-button--variant="next" data-trigger="hover focus" class="slider_button_wrap is-prev is-next">
                      <div class="slider_button_element">
                        <div class="slider_button_icon">
                          {% render 'icon', aria-hidden: true, icon: 'arrow-right' %}
                        </div>
                      </div>
                    </button></div>
                </div>
              </div>
            </div>
          </div>
          
        </div> {% schema %} {
    "tag": "section",
    "name": "Related Products",
    "class": "related_products_wrap u-section",
    "settings": [
        {
            "type": "header",
            "content": "Sektion"
        },
        {
            "type": "text",
            "id": "section_id",
            "label": "ID"
        },
        {
            "type": "header",
            "content": "Abst\u00e4nde"
        },
        {
            "type": "select",
            "id": "spacing_top",
            "label": "Oben",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "xxsmall",
                    "label": "Extra extra klein"
                },
                {
                    "value": "xsmall",
                    "label": "Extra klein"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "medium",
                    "label": "Mittel"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                },
                {
                    "value": "large_medium_off",
                    "label": "Gro\u00df | Medium kein Abstand"
                },
                {
                    "value": "page_top",
                    "label": "Seitenanfang"
                }
            ],
            "default": "large"
        },
        {
            "type": "select",
            "id": "spacing_bottom",
            "label": "Unten",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "xxsmall",
                    "label": "Extra extra klein"
                },
                {
                    "value": "xsmall",
                    "label": "Extra klein"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "medium",
                    "label": "Mittel"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                }
            ],
            "default": "large"
        },
        {
            "type": "header",
            "content": "\u00dcbertitel"
        },
        {
            "type": "text",
            "id": "eyebrow",
            "label": "Text",
            "default": "\u00dcbertitel Text"
        },
        {
            "type": "select",
            "id": "eyebrow_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "u-text-eyebrow-small",
                    "label": "Klein"
                },
                {
                    "value": "u-text-eyebrow-base",
                    "label": "Standard"
                },
                {
                    "value": "u-text-eyebrow-large",
                    "label": "Gro\u00df"
                }
            ],
            "default": "u-text-eyebrow-large"
        },
        {
            "type": "select",
            "id": "eyebrow_tag",
            "label": "HTML-Tag",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                },
                {
                    "value": "p",
                    "label": "P"
                }
            ],
            "default": "p"
        },
        {
            "type": "header",
            "content": "\u00dcberschrift"
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet elit"
        },
        {
            "type": "select",
            "id": "heading_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "u-text-h1-primary",
                    "label": "H1 Prim\u00e4r"
                },
                {
                    "value": "u-text-h1-secondary",
                    "label": "H1 Sekund\u00e4r"
                },
                {
                    "value": "u-text-h2-primary",
                    "label": "H2 Prim\u00e4r"
                },
                {
                    "value": "u-text-h2-secondary",
                    "label": "H2 Sekund\u00e4r"
                },
                {
                    "value": "u-text-h3-primary",
                    "label": "H3 Prim\u00e4r"
                },
                {
                    "value": "u-text-h3-secondary",
                    "label": "H3 Sekund\u00e4r"
                },
                {
                    "value": "u-text-h4-primary",
                    "label": "H4 Prim\u00e4r"
                },
                {
                    "value": "u-text-h5-primary",
                    "label": "H5 Prim\u00e4r"
                },
                {
                    "value": "u-text-h6-primary",
                    "label": "H6 Prim\u00e4r"
                }
            ],
            "default": "u-text-h2-primary"
        },
        {
            "type": "select",
            "id": "heading_tag",
            "label": "HTML-Tag",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                },
                {
                    "value": "p",
                    "label": "P"
                }
            ],
            "default": "h2"
        },
        {
            "type": "number",
            "id": "heading_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": 20
        },
        {
            "type": "checkbox",
            "id": "heading_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "heading_visually_hidden",
            "label": "Nur f\u00fcr Screenreader anzeigen",
            "default": false
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "richtext",
            "id": "paragraph",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<\/p>"
        },
        {
            "type": "select",
            "id": "paragraph_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "u-text-body-small",
                    "label": "Klein"
                },
                {
                    "value": "u-text-body-base",
                    "label": "Standard"
                },
                {
                    "value": "u-text-body-large",
                    "label": "Gro\u00df"
                }
            ],
            "default": "u-text-body-base"
        },
        {
            "type": "number",
            "id": "paragraph_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": 60
        },
        {
            "type": "checkbox",
            "id": "paragraph_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        },
        {
            "type": "header",
            "content": "Button 1"
        },
        {
            "type": "text",
            "id": "button_1_label",
            "label": "Text",
            "default": "Text"
        },
        {
            "type": "select",
            "id": "button_1_mode",
            "label": "Funktion",
            "options": [
                {
                    "value": "link",
                    "label": "Link \u00f6ffnen"
                },
                {
                    "value": "action",
                    "label": "Aktion ausf\u00fchren"
                }
            ],
            "default": "link"
        },
        {
            "type": "url",
            "id": "button_1_url",
            "label": "Link",
            "visible_if": "{{ section.settings.button_1_mode == 'link' }}"
        },
        {
            "type": "select",
            "id": "button_1_action",
            "label": "Aktion",
            "options": [
                {
                    "value": "newsletter_modal",
                    "label": "Newsletter-Modal \u00f6ffnen"
                },
                {
                    "value": "contact_modal",
                    "label": "Kontaktformular-Modal \u00f6ffnen"
                }
            ],
            "default": "newsletter_modal",
            "visible_if": "{{ section.settings.button_1_mode == 'action' }}"
        },
        {
            "type": "select",
            "id": "button_1_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "solid",
                    "label": "Fl\u00e4che"
                },
                {
                    "value": "transparent",
                    "label": "Transparent"
                },
                {
                    "value": "text",
                    "label": "Textlink"
                },
                {
                    "value": "pill",
                    "label": "Kapsel"
                }
            ],
            "default": "solid"
        },
        {
            "type": "select",
            "id": "button_1_solid_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "red",
                    "label": "Rot"
                },
                {
                    "value": "white",
                    "label": "Wei\u00df"
                }
            ],
            "default": "red",
            "visible_if": "{{ section.settings.button_1_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_1_solid_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-link-large",
                    "label": "Link gro\u00df"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                }
            ],
            "default": "u-text-link-large",
            "visible_if": "{{ section.settings.button_1_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_1_solid_padding",
            "label": "Stil",
            "options": [
                {
                    "value": "base",
                    "label": "Standard"
                },
                {
                    "value": "small",
                    "label": "Klein"
                }
            ],
            "default": "base",
            "visible_if": "{{ section.settings.button_1_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_1_text_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-link-large",
                    "label": "Link gro\u00df"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                }
            ],
            "default": "u-text-link-large",
            "visible_if": "{{ section.settings.button_1_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_1_text_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "green",
                    "label": "Gr\u00fcn"
                },
                {
                    "value": "red",
                    "label": "Rot"
                }
            ],
            "default": "green",
            "visible_if": "{{ section.settings.button_1_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_1_pill_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "white",
                    "label": "Wei\u00df"
                },
                {
                    "value": "white_transparent",
                    "label": "Wei\u00df transparent"
                }
            ],
            "default": "white",
            "visible_if": "{{ section.settings.button_1_variant == 'pill' }}"
        },
        {
            "type": "select",
            "id": "button_1_pill_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-eyebrow-large",
                    "label": "\u00dcbertitel gro\u00df"
                },
                {
                    "value": "u-text-eyebrow-base",
                    "label": "\u00dcbertitel Standard"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                },
                {
                    "value": "u-text-link-small",
                    "label": "Link klein"
                }
            ],
            "default": "u-text-eyebrow-base",
            "visible_if": "{{ section.settings.button_1_variant == 'pill' }}"
        },
        {
            "type": "text",
            "id": "button_1_pill_tag_inner",
            "label": "Innerer Tag",
            "visible_if": "{{ section.settings.button_1_variant == 'pill' }}"
        },
        {
            "type": "checkbox",
            "id": "button_1_underline",
            "label": "Unterstreichung anzeigen",
            "default": false,
            "visible_if": "{{ section.settings.button_1_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_2_icon",
            "label": "Icon",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Icon"
                },
                {
                    "value": "arrow_left",
                    "label": "Pfeil links"
                },
                {
                    "value": "arrow_right",
                    "label": "Pfeil rechts"
                },
                {
                    "value": "arrow_up_right",
                    "label": "Pfeil hoch rechts"
                },
                {
                    "value": "chevron_left",
                    "label": "Chevron links"
                },
                {
                    "value": "chevron_right",
                    "label": "Chevron rechts"
                },
                {
                    "value": "download",
                    "label": "Herunterladen"
                },
                {
                    "value": "copy",
                    "label": "Kopieren"
                },
                {
                    "value": "external",
                    "label": "Externe Seite"
                }
            ],
            "default": "none"
        },
        {
            "type": "select",
            "id": "button_1_icon_position",
            "label": "Icon-Position",
            "options": [
                {
                    "value": "before",
                    "label": "Vor dem Text"
                },
                {
                    "value": "after",
                    "label": "Nach dem Text"
                }
            ],
            "default": "after",
            "visible_if": "{{ section.settings.button_1_icon != 'none' }}"
        },
        {
            "type": "select",
            "id": "button_1_icon_animation",
            "label": "Icon-Animation",
            "options": [
                {
                    "value": "none",
                    "label": "Keine Animation"
                },
                {
                    "value": "move_left",
                    "label": "Nach links bewegen"
                },
                {
                    "value": "move_right",
                    "label": "Nach rechts bewegen"
                },
                {
                    "value": "move_up_right",
                    "label": "Nach oben rechts bewegen"
                }
            ],
            "default": "none",
            "visible_if": "{{ section.settings.button_1_icon != 'none' }}"
        },
        {
            "type": "select",
            "id": "button_1_icon_color",
            "label": "Stil",
            "options": [
                {
                    "value": "inherit",
                    "label": "Wie Text"
                },
                {
                    "value": "red",
                    "label": "Rot"
                }
            ],
            "default": "inherit",
            "visible_if": "{{ section.settings.button_1_icon != 'none' }}"
        },
        {
            "type": "header",
            "content": "Button 2"
        },
        {
            "type": "text",
            "id": "button_2_label",
            "label": "Text",
            "default": "Text"
        },
        {
            "type": "select",
            "id": "button_2_mode",
            "label": "Funktion",
            "options": [
                {
                    "value": "link",
                    "label": "Link \u00f6ffnen"
                },
                {
                    "value": "action",
                    "label": "Aktion ausf\u00fchren"
                }
            ],
            "default": "link"
        },
        {
            "type": "url",
            "id": "button_2_url",
            "label": "Link",
            "visible_if": "{{ section.settings.button_2_mode == 'link' }}"
        },
        {
            "type": "select",
            "id": "button_2_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "solid",
                    "label": "Fl\u00e4che"
                },
                {
                    "value": "transparent",
                    "label": "Transparent"
                },
                {
                    "value": "text",
                    "label": "Textlink"
                },
                {
                    "value": "pill",
                    "label": "Kapsel"
                }
            ],
            "default": "solid"
        },
        {
            "type": "select",
            "id": "button_2_action",
            "label": "Aktion",
            "options": [
                {
                    "value": "newsletter_modal",
                    "label": "Newsletter-Modal \u00f6ffnen"
                },
                {
                    "value": "contact_modal",
                    "label": "Kontaktformular-Modal \u00f6ffnen"
                }
            ],
            "default": "newsletter_modal",
            "visible_if": "{{ section.settings.button_2_mode == 'action' }}"
        },
        {
            "type": "select",
            "id": "button_2_solid_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "red",
                    "label": "Rot"
                },
                {
                    "value": "white",
                    "label": "Wei\u00df"
                }
            ],
            "default": "red",
            "visible_if": "{{ section.settings.button_2_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_2_solid_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-link-large",
                    "label": "Link gro\u00df"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                }
            ],
            "default": "u-text-link-large",
            "visible_if": "{{ section.settings.button_2_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_2_solid_padding",
            "label": "Stil",
            "options": [
                {
                    "value": "base",
                    "label": "Standard"
                },
                {
                    "value": "small",
                    "label": "Klein"
                }
            ],
            "default": "base",
            "visible_if": "{{ section.settings.button_2_variant == 'solid' }}"
        },
        {
            "type": "select",
            "id": "button_2_text_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-link-large",
                    "label": "Link gro\u00df"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                }
            ],
            "default": "u-text-link-large",
            "visible_if": "{{ section.settings.button_2_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_2_text_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "green",
                    "label": "Gr\u00fcn"
                },
                {
                    "value": "red",
                    "label": "Rot"
                }
            ],
            "default": "green",
            "visible_if": "{{ section.settings.button_2_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_2_pill_color",
            "label": "Farbe",
            "options": [
                {
                    "value": "white",
                    "label": "Wei\u00df"
                },
                {
                    "value": "white_transparent",
                    "label": "Wei\u00df transparent"
                }
            ],
            "default": "white",
            "visible_if": "{{ section.settings.button_2_variant == 'pill' }}"
        },
        {
            "type": "select",
            "id": "button_2_pill_text_size",
            "label": "Textgr\u00f6\u00dfe",
            "options": [
                {
                    "value": "u-text-eyebrow-large",
                    "label": "\u00dcbertitel gro\u00df"
                },
                {
                    "value": "u-text-eyebrow-base",
                    "label": "\u00dcbertitel Standard"
                },
                {
                    "value": "u-text-link-base",
                    "label": "Link Standard"
                },
                {
                    "value": "u-text-link-small",
                    "label": "Link klein"
                }
            ],
            "default": "u-text-eyebrow-base",
            "visible_if": "{{ section.settings.button_2_variant == 'pill' }}"
        },
        {
            "type": "text",
            "id": "button_2_pill_tag_inner",
            "label": "Innerer Tag",
            "visible_if": "{{ section.settings.button_2_variant == 'pill' }}"
        },
        {
            "type": "checkbox",
            "id": "button_2_underline",
            "label": "Unterstreichung anzeigen",
            "default": false,
            "visible_if": "{{ section.settings.button_2_variant == 'text' }}"
        },
        {
            "type": "select",
            "id": "button_2_icon_position",
            "label": "Icon-Position",
            "options": [
                {
                    "value": "before",
                    "label": "Vor dem Text"
                },
                {
                    "value": "after",
                    "label": "Nach dem Text"
                }
            ],
            "default": "after",
            "visible_if": "{{ section.settings.button_2_icon != 'none' }}"
        },
        {
            "type": "select",
            "id": "button_2_icon_animation",
            "label": "Icon-Animation",
            "options": [
                {
                    "value": "none",
                    "label": "Keine Animation"
                },
                {
                    "value": "move_left",
                    "label": "Nach links bewegen"
                },
                {
                    "value": "move_right",
                    "label": "Nach rechts bewegen"
                },
                {
                    "value": "move_up_right",
                    "label": "Nach oben rechts bewegen"
                }
            ],
            "default": "none",
            "visible_if": "{{ section.settings.button_2_icon != 'none' }}"
        }
    ],
    "presets": [
        {
            "name": "Related Products",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}